{{ ansible_managed | comment }}

{% if ssh_ssh_config_d_exists.stat.exists and ssh_ssh_config_d_exists.stat.isdir %}
Include /etc/ssh/ssh_config.d/*.conf
{% endif -%}

{% macro print_array(name, values=[]) %}
{% for value in values %}
    {{ name }} {{ value }}
{% endfor %}
{% endmacro %}

{% for hostname in ssh_ssh_config_options %}
Host {{ hostname.hostnames | join(' ') }}
{% for key, value in hostname.options.items() %}
{% if value is string or value is number %}
    {{ key }} {{ value }}
{% else %}
{{ print_array(key, value) }}
{%- endif %}
{%- endfor %}
{%- endfor %}
