{{ ansible_managed | comment }}

{% if ssh_sshd_config_d_exists.stat.exists and ssh_sshd_config_d_exists.stat.isdir %}
Include /etc/ssh/sshd_config.d/*.conf
{% endif %}

{%- macro print_array(name, values=[]) -%}
{%- for value in values -%}
{{ name }} {{ value }}
{% endfor %}
{% endmacro %}

{% for key, value in ssh_sshd_config_options.items() %}
{% if value is string or value is number %}
{{ key }} {{ value }}
{% else %}
{{ print_array(key, value) }}
{%- endif %}
{%- endfor %}
